################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotCDS/.vs/DotCDS/v17
/DotCDS/DotCDS/obj
/src/DotCDS/.vs/DotCDS
/src/DotCDS/DotCDS/obj
/src/DotCDS/DotCDS.Console/obj
/src/DotCDS/DotCDS/bin/Debug/net6.0
/src/DotCDS/DotCDS.Console/bin/Debug/net6.0
/src/DotCDS/DotCDS.Client/bin/Debug/net6.0
/src/DotCDS/DotCDS.Client/obj
/src/DotCDS/DotCDS.Common/bin/Debug/net6.0
/src/DotCDS/DotCDS.Common/obj
/tests/DotCDS.Tests/bin/Debug/net6.0
/tests/DotCDS.Tests/obj
/src/DotCDS/.vs/ProjectEvaluation
/tests/DotCDS.Client.Tests/bin/Debug/net6.0
/tests/DotCDS.Client.Tests/obj
/tests/DotCDS.TestHelpers/bin/Debug/net6.0
/tests/DotCDS.TestHelpers/obj
