################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotCDS/.vs/DotCDS/v17
/DotCDS/DotCDS/obj
/src/DotCDS/.vs/DotCDS
/src/DotCDS/DotCDS/obj
/src/DotCDS/DotCDS.Console/obj
